
/* Reset some default styles for the body and header */
#container {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
    width: 1920px;
    height: 1912px;
}



.background {
    background-color: rgba(0,0,0,0.1);
    background-image: url(image/개인프로젝트배경01.jpg);
    background-repeat: no-repeat;
    width: 2000px;
    height: 1160px;
    display: flex;
    background-size: cover;
    position: absolute;
    z-index: 1;
} 

.header {
    /* background-color: rgba(255,255,255,0.1); */
    border-bottom: 1px solid #e1e1e1;
    padding: 20px 30px;
    width: 98vw;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px; 
    position: absolute;
    z-index: 2;
}
/* Header styles */


.menu-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;     
}

i{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.hide_txt{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
    color: white;
    text-decoration: none;
}



.menu-ul {
    padding-left: 50px;
    margin-right: 18px;
    text-align: left;
    display: flex inline;
    justify-content: space-between;
}

.menu-ul a {
    margin-right: 30px;
    font-size: 18px;
    font-family: 'Nanum Pen Script', cursive;
    word-break: keep-all;
    color: white;
    
}

.user-menu a {
    margin-right: 15px;
    font-size: 15px;
    font-family: 'Nanum Pen Script', cursive;
    word-break: keep-all;
    color: white;
   
}

.menu-ul a,
.user-menu a {
    text-decoration: none;}

.clfix a + a::before {
    content: "|"; /* 가상 요소의 내용 설정 */
    margin: 0 30px; /* 수직 막대 양쪽에 여백 설정 (원하는 크기로 조정) */
}


.button-bar {
    padding-left: 15px;
}

.custom-button {
    padding-left: 15px;
    border: 1px solid #222;
    border-radius: 15px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-weight: 300;
    padding: 8px 18px;
    margin-right: 10px;
}

.custom-button:hover{
    background-color: #007bff;
    color: #fff;
}



.main_search_area {
    overflow: hidden;
    width: 1080px;
    height: 890px;
    position: absolute;
    z-index: 3;
}

.serach_bar{
    width: 850px;
    height: 220px;
    position: absolute;
    left: 120px;
    top: 0px;
}

.search_select_ui {
    background-color:rgba(255, 255, 255, 0.20000000298023224);
	width:850px;
	height:70px;
	position:absolute;
	left:0px;
	top:150px;
	border-top-left-radius:35px;
	border-top-right-radius:35px;
	border-bottom-left-radius:35px;
	border-bottom-right-radius:35px;
}

@media screen and (max-width: 768px) {
    #container {
        width: 100%; /* 컨테이너 폭을 100%로 변경 */
    }

    .header {
        width: 100%; /* 헤더 폭을 100%로 변경 */
    }

    /* 기타 요소들의 스타일 변경을 추가 */
}



